fastapi
uvicorn
sqlalchemy
aiosqlite
psutil
opencv-python==4.10.0.84
ultralytics
nats-py
python-multipart
python-jose[cryptography]
zeroconf
numpy
psutil
aiofiles
aiohttp
greenlet
websockets
lap
torchreid
gdown
tensorboard
netifaces
mediapipe
ffmpeg
omegaconf