# LaTeX temporary files
*.aux
*.log
*.fdb_latexmk
*.fls
*.synctex.gz
*.synctex
*.dvi
*.bbl
*.blg
*.out
*.toc
*.lof
*.lot
*.idx
*.ilg
*.ind
*.nav
*.snm
*.vrb
*.pt
*.db


# Generated PDFs (uncomment if you don't want to track PDFs)
*.pdf

# Latexmk
.latexmk/

# VS Code LaTeX Workshop
.vscode/

# macOS system files
.DS_Store

# wise data for debugging
data

__pycache__/
venv
venvWin


.DS_Store
src/onPremise/requirements_checksum.txt
